*{
	margin:0px;
	padding:0px;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #454545;
}
.Container{
	width:100%;
	height:855px;
}
.wrap{
	height:855px;
	margin: 0 auto;
	background-image: url(../img/bg.png);
}
.img{
	width:100%;
	height:177px;
	background-color:#0E1621;
}
.img>a{
	display: block;
	width:1000px;
	height:177px;
	margin: 0 auto;
	margin-top:1px;
}
.crumbs_nav{
	width: 100%;
	height:34px;
	background-image: url(../img/3_6.png);
	border-bottom: 1px solid #DEE0DE;
}
.crumbs_nav1{
	width:1000px;
	height:34px;
	/*border:1px solid red;*/
	margin:0 auto;
}
.crumbs_nav1>ul>li{
	float:left;
	font-size:12px;
	margin-left:10px;
	margin-top:9px;
}
.crumbs_nav1>ul>.color>a{
	color:#808080;
}
.main{
	width:100%;
	height:564px;
	background-image: url(../img/3_5中部背景.png);
}
.content{
	width:1000px;
	height:523px;
	/*border:1px solid red;*/
	margin:0 auto;
	padding-top:16px;
	box-shadow:0px 5px 5px rgba(0,0,0,.2);
}
.side{
	height:521px;
	width:206px;
	float:left;
	/*border:1px solid red;*/
}
.side_title{
	width:206px;
	height:43px;
	/*border:1px solid red;*/
	background-image: url(../img/nav.png);
}
.side_title>li{
	float:left;
	margin-top:10px;
	margin-left:18px;
}
.side_title>.guanyu{
	font-weight: bold;
	font-size: 16px;
	font-family: "微软雅黑";
	background: url(../img/3_7.png) no-repeat left center;
	padding-left:10px;
}
.side_title>.us{
	color: #B3B3B3;
  	font-size: 11px;
  	font-weight: normal;
  	margin-left:4px;
  	margin-top:17px;
  	font-family: Arial,"宋体";
}
.side_list{
	width:206px;
	height:289px;
	background-color:#ffffff;
	
}
.side_list>li{
	width:176px;
	height:40px;
	text-align: center;
	line-height: 40px;
	margin-left:14px;
	/*margin-top:4px;*/
	font-size: 14px;
	border-top:1px dotted#A1A1A1;
}
.side_list>li>a{
	display: block;
	width:176px;
	height:40px;
}
.side_list>li>a:hover{
	color:#ffffff;
	background-color:#B70000;
}

.side_list>.side_list1{
	margin-top:0px;
	/*padding-top:15px;*/
	border-top:none;
	/*background-color:#B70000;*/
}
.side_list>.side_list2{
	padding-top:15px;
	border-top:none;
}
.side_list>.side_list1>a{
	background-color:#B70000;
	color:#ffffff;
}
.contact_title{
	background-image:none;
	background-color:#ffffff;
	margin-top:15px;
} 
.contact_title >.guanyu{
	background: url(../img/3_4.png) no-repeat left center;
	padding-left:32px;
	margin-left: 10px;
}
.contact{
	width:206px;
	height:131px;
	background-color:#ffffff;
}
.contact>li{
	width:175px;
	font-size: 12px;
	line-height: 21px;
	color:#4D4D4D;
	margin-left:14px;
}

.contact>.more{
	width:90px;
	height:26px;
	text-align: center;
	background: #e0e0e0;
	line-height: 26px;
	margin-top: 5px;
}
.contact>.more>a{
	width:90px;
	height:26px;
	display: block;
}
.contact>.more>a:hover{
	color:#B70000;
}
.main_right{
	width:780px;
	height:523px;
	/*border:1px solid red;*/
	float:right;
}
.main_right>.side_title{
	width:780px;
	height:43px;
}
.main_right>.side_title>.guanyu{
	padding-left:16px;
	background: url(../img/3_3.png) no-repeat left center;
}
.article{
	width:780px;
	height:479px;
	/*border:1px solid red;*/
	background-color:#ffffff;
}
.article>a{
	display: block;
	float:left;
	margin-top:45px;
	margin-left:27px;
	width:222px;
	height:139px;
}
.article>.text{
	width:497px;
	height:153px;
	/*border:1px solid red;*/
	float: left;
	margin-left:16px;
	margin-top:28px;
}
.article>.text>.text1,.article>.text2>p{
	line-height: 25px;
	margin-top:10px;
	font-size: 12px;
	font-family: Arial,"宋体";
	text-indent: 2em;
	width:491px;
	/*padding-left:10px;
	display: block;*/
}
.article>.text2{
	width:725px;
	margin-left:25px;
	margin-top:10px;
	float:left;
}
.article>.text2>p{
	width:725px;
}
.main_right{
	display: none;
}
