*{
	margin:0px;
	padding:0px;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #454545;
}
.Container{
	width:100%;
	height:855px;
}
.wrap{
	height:855px;
	margin: 0 auto;
	background-image: url(../img/bg.png);
}
.img{
	width:100%;
	height:177px;
	background-color:#0E1621;
}
.img>a{
	display: block;
	width:1000px;
	height:177px;
	margin: 0 auto;
	margin-top:1px;
}
.crumbs_nav{
	width: 100%;
	height:34px;
	background-image: url(../img/3_6.png);
	border-bottom: 1px solid #DEE0DE;
}
.crumbs_nav1{
	width:1000px;
	height:34px;
	/*border:1px solid red;*/
	margin:0 auto;
}
.crumbs_nav1>ul>li{
	float:left;
	font-size:12px;
	margin-left:10px;
	margin-top:9px;
}
.crumbs_nav1>ul>.color>a{
	color:#808080;
}
.main{
	width:100%;
	height:735px;
	background-image: url(../img/3_5中部背景.png);
}
.content{
	width:1000px;
	height:800px;
	margin:0 auto;
	padding-top:16px;
}
.side_title{
	width:1000px;
	height:43px;
	/*border:1px solid red;*/
	background-image: url(../img/nav.png);
}
.side_title>.guanyu{
	font-weight: bold;
	font-size: 16px;
	font-family: "微软雅黑";
	background: url(../img/3_7.png) no-repeat left center;
	padding-left:10px;
}
.side_title>li{
	float:left;
	margin-top:10px;
	margin-left:18px;
}
.main_right{
	width:1000px;
	height:684px;
	/*border:1px solid red;*/
	float:right;
	background-color:#ffffff;
	box-shadow:0px 5px 5px rgba(0,0,0,.2);
}
.main_right>.side_title{
	width:1000px;
	height:43px;
}
.main_right>.side_title>.guanyu{
	padding-left:16px;
	font-family:arial;
	background: url(../img/3_3.png) no-repeat left center;
}
.main_right>a{
	display: block;
	font-size: 25px;
	font-family: "微软雅黑";
	margin-left: 53px;
	margin-top:54px
}
.matter{
	width:1000px;
	height:633px;
	/*border:1px solid red;*/
}
.matter_left{
	width:469px;
	height:538px;
	/*border:1px solid red;*/
	float:left;
	margin-left:34px;
	margin-top:10px;
}
.matter_left>span,.matter_right>span{
	display: block;
	width:468px;
	height:43px;
	border-bottom: 1px solid #EBEBEB;;
	font-size: 28px;
	font-family: "微软雅黑";
	color:#7B7B7B;
}
.matter_left>a{
	display: block;
	width:468px;
	height:295px;
	border:1px solid #EEEEEE;
	margin-top:15px;
}
.matter_left>a>img{
	margin-top:1px;
	margin-left: 1px;
}
.matter_left>ul>li{
	font-size: 14px;
	font-family: arial;
	line-height: 37px;
	color:#9F9F9F;
}
.matter_right{
	width:405px;
	height:631px;
	/*border:1px solid red;*/
	float:right;
	margin-right: 46px;
	margin-top:10px;
	border-left: 1px solid #DFDFDF;
}
.matter_right>ul{
	margin-top:14px;
}
.matter_right>ul>p{
	font-size: 12px;
	font-family: arial;
	color:#727272;
	margin-bottom: 15px;
	margin-left:30px;
}
.matter_right>span{
	width:394px;
	margin-left:30px;
}
.matter_right>ul>li>span{
	font-size: 12px;
	font-family: arial;
	color:#B6B6B6;
	
}
.matter_right>ul>li{
	font-size: 16px;
	font-family: arial;
	line-height: 34px;
	color:#727272;
	margin-left:30px;
}
.matter_right>ul>li>input[type="text"]{
	height: 28px;
    border-radius: 0px; 
    border:1px solid #EAEAEA;
    width: 353px;
    padding-left: 5px; 
    background-color: #ffffff;
}
.matter_right>ul>li>textarea{
	width: 357px;
	height:120px;
	resize: none;
	border:1px solid #EAEAEA;
}
.matter_right>ul>li>input[type="submit"]{
	width:76px;
	height:31px;
	border:1px solid #999999;
	background-color:#5A5A5A;
	color:#ffffff;
	font-size: 15px;
	font-family: arial;
	float:right;
	margin-top:5px;
	margin-right: 5px;
	
}
.matter_right>ul>li>.xing{
	display: block;
	float:right;
	font-size: 18px;
	font-family: arial;
	color:#E22D2F;
	margin-top:5px;
}
