.footer{
	/*background-color:#F4F4F4;*/
	width:100%;
	height:90px;
	background-image: url(../img/1_1.png);
}
.footer_nav{
	width:1001px;
	height:90px;
	margin:0 auto;
}
.footer_nav>.footer_nav1{
	width:287px;
	height:44px;
}
.footer_nav>.footer_nav1>li{
	width:71px;
	height:12px;
	text-align: center;
	float:left;
	font-size:12px;
	margin-top:18px;
	border-right: 1px solid #717171;
}
.footer_nav>.footer_copy>li{
	float:left;
	font-size:12px;
	margin-left:12px;
	
}
.footer_nav>.footer_copy>li>a{
	color:#959595;
}
