.lang{
	width:960px;
	height:19px;
	/*border:1px solid red;*/
	margin:0 auto;
}
.lang>ul{
	width:142px;
	height:26px;
	float:right;
	background-color:#E2E2E2;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.lang>ul>li{
	float:left;
	font-size:12px;
	margin-left:6px;
	line-height: 22px;
}
.lang>ul>li>img{
	margin-top:3px;
}
.logo{
	width:100%;
	height:121px;
	/*border:1px solid red;*/
	/*margin-top:19px;*/
	background-image: url(../img/1_0.png);
}
.logo1{
	width:960px;
	height:75px;
	margin:0 auto;
	/*border:1px solid red;*/
	
}
.logo1>a{
	display: block;
	float: left;
	margin-top:13px;
}
.logo1>.number{
	display: block;
	width:290px;
	height:35px;
	float:right;
	margin-top:17px;
	margin-right: -110px;
}
.nav{
	width:100%;
	height:46px;
/*	border:1px solid red;*/
	background-image: url(../img/nav.png);
}
.nav2{
	width:984px;
	height:45px;
	margin:0 auto;
}
.nav1>li>a{
	display: block;
	width:117px;
	height:45px;
}
.nav1>li{
	width:117px;
	float:left;
	font-size:14px;
	font-weight: bold;
	line-height: 46px;
	text-align: center;
	border-right: 1px solid #CECECE;
}
.nav1>.lianxi{
	border-right: none;
}
.nav1>li>a:hover{
	color:red;
}
.nav1>li:hover{
	color:red;
	border-bottom: 2px solid red;
	background-color:#EBEBEB;
}


.search{
	float:right;
	height:29px;
	width:216px;
	border:1px solid #D7D7D7;
	border-radius: 19px;
	background-color:#F5F5F5;
	margin-left:5px;
	margin-top:7px;
}
.search>a{
	display: block;
	float:left;
	margin-left:9px;
	margin-top:6px;
}
input[type="text"]{
	height:28px;
	border-radius: 19px;
	border:none;
	width:184px;
	padding-left:5px;
	background-color:#F5F5F5;
}
